################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdventureWorks DevOps Example/.vs/AdventureWorks DevOps Example/v15
/AdventureWorks DevOps Example/AdventureWorks DevOps Example/bin/Development
/AdventureWorks DevOps Example/AdventureWorks DevOps Example/obj/Development
